/* Responsabilidade: Aparência e Feedback Visual */
.proding-border {
    border-top: 5px solid #1d6f42 !important;
}



.status-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    border-left: 5px solid #1d6f42;
    display: none; /* Escondido até o JS ativar */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.highlight-count {
    color: #1d6f42;
    font-weight: bold;
    font-size: 1.1rem;
}