body {
    background-color: #7c7676;
}
    /* Melhorias no layout da folha A4 */
.container {
    width: 210mm;
    min-height: 297mm;
    background-color: #fff;
    margin: 20px auto;
    padding: 15mm;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;

}

.checkbox-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.logo-toyota {
    height: 50px;
}

/* Estilo da Tabela */
.table-envio {
    width: 100%;
    border-collapse: collapse; /* Remove espaços entre bordas */
}

.table-envio th {
    background-color: #d2d3d3;
    border: 1px solid #000;
    padding: 5px;
    font-size: 12px;
    text-transform: uppercase;
}

.table-envio td {
    border: 1px solid #000;
    height: 25px;
}

tr {
    height: 30px;
}

.tbody_input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 5px;
    text-align: center;
    text-transform:capitalize;
}

/* Cores zebradas para facilitar leitura */
tr:nth-child(even) { background-color: #e4e2e2; }

.text-right {
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}

#total-display {
    font-weight: bold;
    text-align: center;
    background-color: #eee;
}

/* Exemplo de ajuste por classe */
.th-qtd { width: 50px; }       /* Coluna pequena para números */
.th-nota { width: 100px; }
.th-cliente { width: 250px; }  /* Coluna maior para nomes */
.th-destinatario { width: 200px; }
.th-vol { width: 60px; }
.th-ass { width: 120px; }