.cabecalho {
    background-color: var(--cor-dark);
    color: white;
    padding: 1.2rem;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3); /* Sombra para dar profundidade sobre a sidebar */
    height: 13vh;
    
    /* Z-INDEX ALTO: Ele fica na frente da sidebar */
    position: relative;
    z-index: 10; 
    
    /* Removemos qualquer borda ou background animado anterior */
    border-bottom: none; 
    background-image: none;
}

.cabecalho h1 {
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0;
}

.cabecalho p {
    font-size: 0.8rem;
    text-transform: uppercase;
    opacity: 0.8;
}